{
  "extends": [
    "prettier",
    "plugin:react/recommended",
    "plugin:react/jsx-runtime"
  ],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": ["error"]
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": "latest"
  }
}
